<style>
  .announcement-banner {
    color: black;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background: repeating-linear-gradient(
      45deg,
      var(--site-announcement-bar-stripe-color1),
      var(--site-announcement-bar-stripe-color1) 20px,
      var(--site-announcement-bar-stripe-color2) 10px,
      var(--site-announcement-bar-stripe-color2) 40px
    );
  }

  .announcement-banner {
    --site-announcement-bar-stripe-color1: #e5e7eb;
    --site-announcement-bar-stripe-color2: #d1d5db;
  }

  .announcement-banner[data-theme="ocean"] {
    --site-announcement-bar-stripe-color1: #86b2f9;
    --site-announcement-bar-stripe-color2: #7298ea;
  }

  .announcement-banner[data-theme="forest"] {
    --site-announcement-bar-stripe-color1: #97f5d6;
    --site-announcement-bar-stripe-color2: #6de0bf;
  }

  .announcement-banner[data-theme="lava"] {
    --site-announcement-bar-stripe-color1: #fea3a3;
    --site-announcement-bar-stripe-color2: #e57e7e;
  }

  .announcement-banner p {
    margin: 0;
    padding: 1rem 3.5rem;

    /* make overflowd text to be dots */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .announcement-banner button {
    right: 1rem;
    position: absolute;

    width: 3rem;
    height: 3rem;
    cursor: pointer !important;

    border: none;
    font-weight: 900;
    border-radius: 50%;
    background-color: transparent;
  }
</style>

<div class="announcement-banner" data-theme="{% theme|default %}" data-id="{% id %}">
  {% message %} <button type="button">X</button>
</div>

<script>
  const banner = document.querySelector(".announcement-banner");
  const id = banner.getAttribute("data-id");
  const message = banner.querySelector("p").textContent;
  const localData = JSON.parse(localStorage.getItem("mdbook-announcement-banner"));

  if (localData && localData.hide === true && localData.id === id) banner.remove();
  else {
    // move banner before page class element slibling
    const page = document.querySelector(".page");
    page.parentNode.insertBefore(banner, page);

    // add event listener to close button
    banner.querySelector("button").addEventListener("click", () => {
      banner.remove();
      localStorage.setItem("mdbook-announcement-banner", JSON.stringify({ id, hide: true, message }));
    });
  }
</script>
