<style>
  .giscus {
    margin-top: 6rem;
  }
</style>

<script
  src="{% raw(src=https://giscus.app/client.js) %}"
  data-repo="{% raw(repo) %}"
  data-repo-id="{% raw(repo-id) %}"
  data-category="{% raw(category) %}"
  data-category-id="{% raw(category-id) %}"
  data-mapping="title"
  data-strict="0"
  data-reactions-enabled="{% raw(reactions-enabled=1) %}"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="{% raw(theme=light) %}"
  data-lang="{% raw(lang=en) %}"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
