<style>
  .scroll-to-top {
    font-size: 2.5rem;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    padding: 0.75rem;
    bottom: 1.25rem;
    right: calc(1.25rem + var(--page-padding));

    z-index: 999;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 50%;
    background-color: var(--icons);
  }
  .scroll-to-top.hidden {
    display: none;
  }
  .scroll-to-top i {
    transform: translateY(-2px);
  }
  @media (min-width: 768px) {
    .scroll-to-top {
      bottom: 4rem;
      right: calc(1.25rem + 90px + var(--page-padding));
    }
    .scroll-to-top:hover {
      background-color: var(--icons-hover);
    }
  }
</style>

<button type="button" aria-label="scroll-to-top" class="scroll-to-top hidden" onclick="scrollToTop()">
  <i class="fa fa-angle-up"></i>
</button>

<script>
  const scrollToTop = () => window.scroll({ top: 0, behavior: "smooth" });
  window.addEventListener("scroll", () => {
    const button = document.querySelector(".scroll-to-top");
    button.classList.toggle("hidden", window.scrollY < 200);
  });
</script>
