[book]
authors = ["MR-Addict"]
description = "This is a mdbook preprocessor plugin that allows you embed apps to your book, like youtube, codepen, giscus and many other apps"
title = "mdbook-embedify"
language = "en"
src = "src"

[build]
build-dir = "book"
create-missing = false
use-default-preprocessors = false

[output.html]
default-theme = "Light"
preferred-dark-theme = "Ayu"
smart-punctuation = true
mathjax-support = true
copy-fonts = true
no-section-label = false
git-repository-url = "https://github.com/mr-addict/mdbook-embedify"
edit-url-template = "https://github.com/mr-addict/mdbook-embedify/edit/main/docs/{path}"
additional-css = ["assets/css/patch.css"]
additional-js = ["assets/js/patch.js"]

[output.html.print]
enable = true

[output.html.fold]
enable = true
level = 1

[output.html.search]
enable = true
limit-results = 30
teaser-word-count = 30
use-boolean-and = true
boost-title = 2
boost-hierarchy = 1
boost-paragraph = 1
expand = true
heading-split-level = 3
copy-js = true

[preprocessor.embedify]
scroll-to-top.enable = true

footer.enable = true
footer.message = "Copyright © 2025 • Created with ❤️ by [MR-Addict](https://github.com/MR-Addict)"

announcement-banner.enable = true
announcement-banner.id = "0.2.19"
announcement-banner.message = "*New version [0.2.19](https://github.com/MR-Addict/mdbook-embedify/releases/tag/0.2.19) relased*"

giscus.enable = true
giscus.repo = "MR-Addict/mdbook-embedify"
giscus.repo-id = "R_kgDOLCxX0Q"
giscus.category = "General"
giscus.category-id = "DIC_kwDOLCxX0c4CdGx-"
giscus.reactions-enabled = "1"
giscus.theme = "book"
giscus.lang = "en"
giscus.loading = "lazy"

custom-templates-folder = "assets/templates"

# This is for the development environment
command = "target/release/mdbook-embedify"
