name: pages

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  pages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Setup environment
        uses: ./.github/actions/setup-rust

      - name: Install mdbook
        uses: ./.github/actions/setup-mdbook

      - name: Run tests
        run: cargo test --all-features --verbose

      - name: Build book
        run: head -n 5 README.md > docs/src/index.md && mdbook build docs

      - name: Deploy to github pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: gh-pages
          build_dir: docs/book
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
